name: Build and Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Install Root Dependencies
      run: npm install

    - name: Install Web Dependencies
      run: |
        cd whisper_web
        npm install



    - name: Build and Publish Electron App (macOS)
      if: matrix.os == 'macos-latest'
      run: npm run build:all && npx electron-builder --mac --publish always
      env:
        GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        CSC_LINK: ${{ secrets.CSC_LINK }}
        CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
        APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

    - name: Build and Publish Electron App (Windows)
      if: matrix.os == 'windows-latest'
      run: npm run build:all && npx electron-builder --win --publish always
      env:
        GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}

    - name: Build and Publish Electron App (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: npm run build:all && npx electron-builder --linux --publish always
      env:
        GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
